*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 1);
    
}

body{
    font-family: 'Roboto', sans-serif;
}

.icone-home i{
    font-size: 25px;
}

.icone-user i{
    font-size: 30px;
}


.icones-menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}
.area-pesquisa{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo-uniasselvi {
    width: 600px;
    margin-bottom: 20px;
    align-content: flex-start;
}

.barra-pesquisa{
    width: 600px;
    height: 35px;
    border-radius: 30px;
    border-color: #56357f;
    text-align: center;
    background-color: rgba(86, 53, 127,0.5);
}

.btn{
    margin-top: 20px;    
}
.botao{
    background: #56357f;
    border: none;
    color: aliceblue;
    padding: 10px;

}