*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 1);
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.icone-home i{
    font-size: 25px;
}

.icone-user i{
    font-size: 30px;
}


.icones-menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}
.area-pesquisa{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo-uniasselvi {
    max-width: 600px;
    margin-bottom: 20px;
    align-content: flex-start;
}

.barra-pesquisa{
    width: 600px;
    height: 35px;
    border-radius: 30px;
    border-color: #56357f;
    text-align: center;
    color: #56357f;
    background-color: rgba(226, 224, 230, 0.5);
}


.btn{
    display: flex;
    margin-top: 20px;    
    gap: 20px;
}
.botao{
    width: 100px;
    height: 30px;
    background: #75638b;
    border: none;
    border-radius: 15px;
    color: aliceblue;

}
.powered{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    margin-top: 5px;

}

.link-github{
    color:#c00d48;
}

.links{
    margin margin-top: 1px solid aliceblue;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap:35px;
    color: #56357f ;
    height: 12vh;
    padding: 20px;
    font-weight: bold;
}